*{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;

    border-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    color: white;
    font-size: 24px;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}

#game {
    position: relative;
    margin: 20px auto;

    width: 90%;
    height: 100%;
    padding: 40px 20px;
    
    padding: 0 0 20px 0;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;

    border-color: white;
    border-width: 1px;
    border-style: dashed;
    border-radius: 6px;
}

#resultText {
    
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;

}

body{
    /* Koi Pond Background */
    background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/34330/248047a8db5f48e0de1c914f407a719922dc57bb.jpg);

}